<!-- templates/about.html -->
{% extends 'base.html' %}

{% block head %}
<title>About Us</title>
{% endblock %}

{% block body %}


<div class="container mt-4">
    <h2>About Us</h2>
    <p>Welcome to TravelSathi - Shared Ride Platform! We aim to provide a seamless travel solution for college students.
    </p>
    <p>Our platform connects students who need rides with those who are offering them, ensuring safety and convenience.
    </p>
    <p>Thank you for being a part of our community!</p>
</div>
{% endblock %}