<!-- templates/about.html -->
{% extends 'base.html' %}

{% block head %}
<title>About Us</title>
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h2>About Us</h2>
    <p>Welcome to TravelSathi - Shared Ride Platform! We aim to provide a seamless travel solution for college students.</p>
    <p>Our platform connects students who need rides with those who are offering them, ensuring safety and convenience.</p>
    <p>Thank you for being a part of our community!</p>

    <h3>Meet Our Team</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="static/akaash.jpg" class="card-img-top" alt="Member 1">
                <div class="card-body">
                    <h5 class="card-title">Akaash Chatterjee</h5>
                    <p class="card-text">M24CSE002</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="static/swami_bera.jpg" class="card-img-top" alt="Member 2">
                <div class="card-body">
                    <h5 class="card-title">Bera Swaminath Ansuman Sabita</h5>
                    <p class="card-text">M24CSE007</p>
    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="static\aman.jpg" class="card-img-top" alt="Member 3">
                <div class="card-body">
                    <h5 class="card-title">Aman Saini</h5>
                    <p class="card-text">M24CSE003</p>
                   
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
