<!-- templates/about.html -->
{% extends 'base.html' %}

{% block head %}
<title>About Us</title>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Shared Ride Platform</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='/ride/new'>Create a Ride</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/joined_rides">My Joined Rides</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <h2>About Us</h2>
    <p>Welcome to TravelSathi - Shared Ride Platform! We aim to provide a seamless travel solution for college students.
    </p>
    <p>Our platform connects students who need rides with those who are offering them, ensuring safety and convenience.
    </p>
    <p>Thank you for being a part of our community!</p>
</div>
{% endblock %}