<!-- templates/rickshaw_drivers.html -->
{% extends 'base.html' %}

{% block head %}
<title>Rickshaw Drivers</title>
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h2>Rickshaw Drivers</h2>
    <p>Below is a list of reliable rickshaw drivers you can contact for your rides:</p>

    <div class="row">
        <!-- Driver 1 -->
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Rajesh Kumar</h5>
                    <p class="card-text">
                        Vehicle: Auto Rickshaw <br>
                        Contact: +91 9876543210 <br>
                        Vehicle No: JDH00ER1 <br>
                        Availability: 8 AM - 8 PM <br>
                        Languages: Hindi, English
                    </p>
                </div>
            </div>
        </div>

        <!-- Driver 2 -->
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Suraj Singh</h5>
                    <p class="card-text">
                        Vehicle: E-Rickshaw <br>
                        Contact: +91 9876543211 <br>
                        Vehicle No: JDH00ER2 <br>
                        Availability: 9 AM - 9 PM <br>
                        Languages: Hindi, Marwari
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Driver 3 -->
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Anil Sharma</h5>
                    <p class="card-text">
                        Vehicle: Auto Rickshaw <br>
                        Contact: +91 9876543212 <br>
                        Vehicle No: JDH00AR1 <br>
                        Availability: 7 AM - 7 PM <br>
                        Languages: Hindi, English
                    </p>
                </div>
            </div>
        </div>

        <!-- Driver 4 -->
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Suresh Verma</h5>
                    <p class="card-text">
                        Vehicle: Auto Rickshaw <br>
                        Contact: +91 9876543213 <br>
                        Vehicle No: JDH00AR2 <br>
                        Availability: 6 AM - 10 PM <br>
                        Languages: Hindi
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Add more driver sections here if needed -->
</div>
{% endblock %}
