<!-- templates/index.html -->
{% extends 'base.html' %}

{% block head %}
<title>Travel Sathi - Shared Ride Platform - Home</title>
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash-messages">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="container">
    <h2>Welcome to TravelSathi - A platform by and for IIT Jodhpurians</h2>

    {% if current_user.is_authenticated %}
        <h2>Dashboard</h2>
        <div class="btn-group">
            <a href="{{ url_for('joined_rides') }}" class="btn btn-primary">Show My Rides</a>
            <a href="{{ url_for('search_rides') }}" class="btn btn-success">Search Rides</a>
            <a href="{{ url_for('new_ride') }}" class="btn btn-warning">Create a Ride</a>
        </div>
    {% else %}
        <p>Please <a href="{{ url_for('login') }}">login</a> or <a href="{{ url_for('register') }}">register</a>.</p>
    {% endif %}
</div>
{% endblock %}
