<!-- templates/login.html -->
{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash-messages">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<div class="container">
    <h1>Login</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="email">{{ form.email.label }}</label>
        {{ form.email() }}
        <label for="password">{{ form.password.label }}</label>
        {{ form.password() }}
        {{ form.submit() }}
    </form>
    <a href="{{ url_for('register') }}">Don't have an account? Register</a>
</div>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}